description = "Стандартный шаблон"
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:regular,500,700," rel="stylesheet" />
    <link rel="stylesheet" href={{ "assets/css/swiper-bundle.min.css"|theme }}>
    <link rel="stylesheet" href={{ "assets/css/reset.css"|theme }}>
    <link rel="stylesheet" href={{ "assets/css/aos.css"|theme }}>
    <link rel="stylesheet" href={{ "assets/css/style.css"|theme }}>
    <title>Scrab - {{ this.page.title }}</title>
    {% styles %}
</head>

<body>
    <div class="wrapper">
        {% partial 'site/header' %}
        <main class="main">
            {% page %}
        </main>
        {% partial 'site/footer' %}
    </div>
    <script src={{ "assets/js/swiper-bundle.min.js"|theme }}></script>
    <script src={{ "assets/js/aos.js"|theme }}></script>
    <script src={{ "assets/js/main.js"|theme }}></script>
    {% snowboard all %}
    {% scripts %}
</body>
</html>