                <section class="trends">
                    <div class="trends__row">
                        <h3 class="h3">Игры, которые Вам понравятся!</h3>
                        <button class="button-see-all">Все игры</button>
                    </div>
                    <div class="trends__block">
                        <div class="trends__block-item" data-aos="fade-right">
                            <img src={{ "assets/images/proect1.webp"|theme }} alt="">
                            <p class="trends__block-text">40 followers</p>
                        </div>
                        <div class="trends__block-item" data-aos="fade-right"  data-aos-delay="100">
                            <img src={{ "assets/images/proect2.webp"|theme }} alt="">
                            <p class="trends__block-text">40 followers</p>
                        </div>
                        <div class="trends__block-item" data-aos="fade-right" data-aos-delay="200">
                            <img src={{ "assets/images/proect3.webp"|theme }} alt="">
                            <p class="trends__block-text">40 followers</p>
                        </div>
                        <div class="trends__block-item" data-aos="fade-right" data-aos-delay="300">
                            <img src={{ "assets/images/proect4.webp"|theme }} alt="">
                            <p class="trends__block-text">40 followers</p>
                        </div>
                    </div>
                </section>