        <footer class="footer">
            <div class="main-container footer-container">
                <div class="footer-block">
                    <div class="footer-block__column">
                        <a href="index.html" class="logo">LOGO</a>
                        <p class="text footer-block__column-text">Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry. </p>
                        <p class="text">@Logo</p>
                    </div>
                    <div class="footer-block__column">
                        <p class="text footer-headline">About us</p>
                        <ul class="footer-block__list">
                            <li class="footer-block__item"><a href="#" class="text footer-block__link">Zeux</a></li>
                            <li class="footer-block__item"><a href="#" class="text footer-block__link">Portfolio</a></li>
                            <li class="footer-block__item"><a href="#" class="text footer-block__link">Careers</a></li>
                            <li class="footer-block__item"><a href="#" class="text footer-block__link">Contact us</a></li>
                        </ul>
                    </div>
                    <address class="footer-contacts">
                        <p class="text footer-headline">Contact us</p>
                        <p class="text footer-contacts__text">Lorem Ipsum is simply dummy text <br> of the printing and typesetting <br> industry. </p>
                        <p class="text">+908 89097 890</p>
                    </address>
                    <div class="footer-links">
                        <a href="#a" class="footer-link"><img src="images/icons/footer-link1.svg" alt=""></a>
                        <a href="#a" class="footer-link"><img src="images/icons/footer-link2.svg" alt=""></a>
                        <a href="#a" class="footer-link"><img src="images/icons/footer-link3.svg" alt=""></a>
                        <a href="#a" class="footer-link"><img src="images/icons/footer-link4.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <span class="horizontal-line"></span>
            <p class="footer-rights">Copyright ® 2021 Lorem All rights Rcerved</p>
        </footer>