        <footer class="footer">
            <div class="main-container footer-container">
                <div class="footer-block">
                    <div class="footer-block__column">
                        <a href="{{ 'home'|page }}" class="logo">
                            <img src="{{ this.theme.logo|media }}" class="logo-img" />
                        </a>
                    </div>
                    <address class="footer-contacts">
                        <p class="text footer-headline">Телефон для связи</p>
                        <p class="text">{{ this.theme.contact_phone }}</p>
                    </address>
                     <address class="footer-contacts">
                        <p class="text footer-headline">Адрес</p>
                        <p class="text">{{ this.theme.contact_address }}</p>
                    </address>
                    <div class="footer-links">
                    {% for social in this.theme.contact_socials %}
                        <a href={{ social.url }} target="_blank" class="footer-link">{{ social.name }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <span class="horizontal-line"></span>
            <p class="footer-rights">Copyright ® 2024 Все права защищены</p>
        </footer>