==
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
==
        <header class="header">
            <div class="header-container">
                <div class="header-row">
                    <a href="{{ 'home'|page }}" class="logo">
                        <img src="{{ this.theme.logo|media }}" class="logo-img" />
                    </a>
                    <nav class="header-navigation">
                        <ul class="header-list">
                            <li class="header-list__item header-list__item_active"><a href="{{ 'home'|page }}" class="header-link">Главная</a></li>
                            <li class="header-list__item"><a href="{{ 'about'|page }}" class="header-link">О клубе</a></li>
                            <li class="header-list__item"><a href="{{ 'games'|page }}" class="header-link">Каталог игр</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-body">
                    <div class="header-body__info">
                        <h1 class="h1 header-body__title">{{ this.theme.banner_title }}</h1>
                        <p class="text">{{ this.theme.banner_text }}</p>
                    </div>
                    <div class="swiper header-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide header-swiper-slide">
                                <img class="header-body__main-img-2" src={{ this.theme.banner_img|media }} alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </header>
